/* Menú lateral */
.side-menu {
  background: #001529; /* Fondo oscuro */
}

/* Logo en la parte superior */
.logo {
  height: 90px; /* Ajusta el tamaño del contenedor del logo */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002140; /* Fondo ligeramente más oscuro */
}

.logo-img {
  max-height: 80%; /* Ajusta la altura máxima del logo */
  max-width: 90%; /* Asegura que el logo se ajuste al contenedor */
  object-fit: contain; /* Evita distorsión del logo */
}

/* Submenús */
.ant-menu-submenu-title {
  font-weight: bold;
  color: white;
}

.ant-menu-submenu-title:hover {
  color: #40a9ff; /* Azul claro al pasar el ratón */
}

.ant-menu-item-selected {
  background-color: #1890ff !important; /* Color de selección */
}

.ant-layout-content {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
